<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONLINE CONTEST </title>
    <link rel="stylesheet" href="secondary_style.css">
    <!-- Google fonts adding by link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,500;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <nav>
        <div class="container nav__container">
            <a href="#" class="logo">AI Eklavya</a>
            <ul class="nav__menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="criticalthinking.html">Games</a></li>
                <li><a href="types.html">Yoga</a></li>
                <li><a href="./medit/Mediatation trainer 1/index.html">Meditation</a></li>
            </ul>
        </div>
    </nav>


    <header>
        <div class="container header__container">
            <div class="header"></div>
            <h1 class="head">Welcome to daily Contest.</h1>
            <p class="above_details">
                Solve, compete,and get inpired to innovate! </p>

            <h3 class="detail">What's in it for you?</h3>
           
            <p> AI Eklavya Daily Contests is a series of engaging quizzs that challenge your problem solving abilities.We have handpicked the best questions from domains like Science & Technology.Math,and General Knowledge to help you understand the real-world implementation to making stress people divert from the problem .With this, our aim is to spark curiosity within you while refining your problem solving skills. We hope to inspire you!  
            </p>

            <h3 class="rules">Things to keep in mind about contest.</h3>
            
            <p>1) You can answer each question only once.</p>
            <p>2) Once you complete the entire quiz module,you can choose to attempt it again as many times as you wish.</p>
            <p>3) Answers will be revealed at the end of each quiz.</p>
        </header>

            <section class="categories">
                <div class="categories__container" id="korses">
                    <div class="categories__left">
                        <h1>
                            LET GO & spot your place to win awesome swags from AI Eklavya
                        </h1>
        
        
                    </div>
        
                    <div class="categories__right">
        
        
                        <article class="category cat-1">
                            <img src="./images/criticalthinking.gif" alt="">
                            <span class="category__icon">
                                 <a href="https://www.mentalup.co/img/new-icon-co/conditional-expressions.pngv ">
                                    <h3>Critical Thinking</h3>
                                </a>
                            </span>
        
                            <p>Quizzes divert the mind by offering engaging challenges, stimulating cognitive activity, and providing enjoyable distraction..</p>
                            <a href="criticalthinking.html" class="btn btn-primary btn-class">PLAY</a>
                        </article>
        
        
                        <article class="category cat-2">
                            <img src="./images/criticalthinking2.png" alt="">
                            <span class="category__icon">
                                <a href="./criticalthinkingchildren.css">
                                    <h3>Mediation</h3>
                                </a>
                            </span>
        
                            <p>"
                                Meditation aids stress management by promoting relaxation, mindfulness, and inner peace through focused breathing and mental clarity."</p>
                            <a href="./medit/Mediatation trainer 1/index.html" class="btn btn-primary btn-class">PLAY</a>
        
                        </article>
                        <article class="category cat-3">
                            <img src="./images/Research.png" alt="">
                            <span class="category__icon">
                                <a href="">
                                    <h3>Yoga practice</h3>
                                </a>
                            </span>
        
                            <p>"
                                Yoga practice is essential for stress management, fostering physical wellness and mental tranquility through mindful movement and breath awareness."</p>
                            <a href="types.html" class="btn btn-primary btn-class">PLAY</a>
                        </article>
        
        
                    </div>
                </div>
        
                <div class="categories__container">
        
                    <div class="categories__right" id="categories_right">
        
        
                        <article class="category cat-4">
                            <img src="./images/problemsolving.gif" alt="">
                            <span class="category__icon">
                                <a href="https://www.mentalup.co/img/new-icon-co/conditional-expressions.png">
                                    <h3>Contest </h3>
                                </a>
                            </span>
        
                            <p>Critical thinking ensures better thinking capacity in children which helps students think before
                                any act.</p>
                            <a href="critical_thinking.html" class="btn btn-primary btn-class">PLAY</a>
                        </article>
        
        
                        <article class="category cat-5">
                            <img src="./images/Hypothesis.png" alt="">
                            <span class="category__icon">
                                <a href="">
        
                                    <h3>Research</h3>
                                </a>
                            </span>
        
                            <p>"Research help to motivate you and help you to achieve something in life"" </p>
                            <a href="gksecond.html" class="btn btn-primary btn-class">PLAY</a>
                        </article>
                    </div>
                </div>
            </section>

            <img src="./images/meditaion1.png" alt="">


        </div>
        </div>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="index.html" class="footer__logo logo" style="color: white;">AI Eklavya</a>

            </div>

            <div class="footer__2">
                <h4>Helpful Links</h4>
                <ul class="helpfullinks">
                    <li> <a href="">Home</a> </li>
                    <li> <a href="">About</a> </li>
                    <li> <a href="">Courses</a> </li>
                    <li> <a href="">Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms and conditions</a></li>
                    <li><a href="">refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact Us</h4>
                <ul class="contact">
                    <li><a href="">91-120123456</a></li>
                    <li><a href="">aieklavya@gmail.com</a></li>
                </ul>
            </div>


            <div class="footer__socials">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>

            </div>
            <hr class="newone">

            <div class="footer__copyright">
                <small>Copyright</small>
            </div>
        </div>
        </div>
    </footer>
</body>
</html>